In [1]:
import pandas as pd

In [5]:

cols = ['PuzzleId', 'FEN', 'Moves', 'Rating', 'RatingDeviation',
        'Popularity', 'NbPlays', 'Themes']

df = pd.read_csv('../data/lichess_db_puzzle.csv',
                 names=cols,
                 header=0,
                 usecols=cols,            # <--- Ignore any extra columns
                 on_bad_lines='skip',
                 low_memory=False)

In [26]:
df.shape

(3080528, 5)

In [7]:
df.head()

,PuzzleId,FEN,Moves,Rating,RatingDeviation,Popularity,NbPlays,Themes
0,0000D,5rk1/1p3ppp/pq3b2/8/8/1P1Q1N2/P4PPP/3R2K1 w - ...,d3d6 f8d8 d6d8 f6d8,1513,74,96,16164,advantage endgame short
1,0009B,r2qr1k1/b1p2ppp/pp4n1/P1P1p3/4P1n1/B2P2Pb/3NBP...,b6c5 e2g4 h3g4 d1g4,1130,75,86,518,advantage middlegame short
2,000Vc,8/8/4k1p1/2KpP2p/5PP1/8/8/8 w - - 0 53,g4h5 g6h5 f4f5 e6e5 f5f6 e5f6,1495,155,100,14,crushing endgame long pawnEndgame
3,000Zo,4r3/1k6/pp3r2/1b2P2p/3R1p2/P1R2P2/1P4PP/6K1 w ...,e5f6 e8e1 g1f2 e1f1,1652,149,100,23,endgame mate mateIn2 short
4,000aY,r4rk1/pp3ppp/2n1b3/q1pp2B1/8/P1Q2NP1/1PP1PP1P/...,g5e7 a5c3 b2c3 c6e7,1436,76,86,489,advantage master middlegame short

In [8]:
df = df[['PuzzleId', 'FEN', 'Moves', 'Rating', 'Themes']].copy()

In [11]:
df.head()

,id,fen,moves,rating,themes
0,0000D,5rk1/1p3ppp/pq3b2/8/8/1P1Q1N2/P4PPP/3R2K1 w - ...,d3d6 f8d8 d6d8 f6d8,1513,advantage endgame short
1,0009B,r2qr1k1/b1p2ppp/pp4n1/P1P1p3/4P1n1/B2P2Pb/3NBP...,b6c5 e2g4 h3g4 d1g4,1130,advantage middlegame short
2,000Vc,8/8/4k1p1/2KpP2p/5PP1/8/8/8 w - - 0 53,g4h5 g6h5 f4f5 e6e5 f5f6 e5f6,1495,crushing endgame long pawnEndgame
3,000Zo,4r3/1k6/pp3r2/1b2P2p/3R1p2/P1R2P2/1P4PP/6K1 w ...,e5f6 e8e1 g1f2 e1f1,1652,endgame mate mateIn2 short
4,000aY,r4rk1/pp3ppp/2n1b3/q1pp2B1/8/P1Q2NP1/1PP1PP1P/...,g5e7 a5c3 b2c3 c6e7,1436,advantage master middlegame short

In [10]:
df.columns = ['id', 'fen', 'moves', 'rating', 'themes']

In [12]:
df['moves'] = df['moves'].apply(lambda x: x.strip().split())

In [24]:
df.head()

,id,fen,moves,rating,themes
0,0000D,5rk1/1p3ppp/pq3b2/8/8/1P1Q1N2/P4PPP/3R2K1 w - ...,"[d3d6, f8d8, d6d8, f6d8]",1513,advantage endgame short
1,0009B,r2qr1k1/b1p2ppp/pp4n1/P1P1p3/4P1n1/B2P2Pb/3NBP...,"[b6c5, e2g4, h3g4, d1g4]",1130,advantage middlegame short
2,000Vc,8/8/4k1p1/2KpP2p/5PP1/8/8/8 w - - 0 53,"[g4h5, g6h5, f4f5, e6e5, f5f6, e5f6]",1495,crushing endgame long pawnEndgame
3,000Zo,4r3/1k6/pp3r2/1b2P2p/3R1p2/P1R2P2/1P4PP/6K1 w ...,"[e5f6, e8e1, g1f2, e1f1]",1652,endgame mate mateIn2 short
4,000aY,r4rk1/pp3ppp/2n1b3/q1pp2B1/8/P1Q2NP1/1PP1PP1P/...,"[g5e7, a5c3, b2c3, c6e7]",1436,advantage master middlegame short

In [22]:
df.to_parquet('../data/puzzles_filtered.parquet', index=False)

In [19]:
df.to_csv('../data/puzzles_modular.csv', index=False)

In [20]:
df2 = pd.read_csv('../data/puzzles_modular.csv')

In [21]:
df2.head()

,id,fen,moves,rating,themes
0,0000D,5rk1/1p3ppp/pq3b2/8/8/1P1Q1N2/P4PPP/3R2K1 w - ...,"['d3d6', 'f8d8', 'd6d8', 'f6d8']",1513,advantage endgame short
1,0009B,r2qr1k1/b1p2ppp/pp4n1/P1P1p3/4P1n1/B2P2Pb/3NBP...,"['b6c5', 'e2g4', 'h3g4', 'd1g4']",1130,advantage middlegame short
2,000Vc,8/8/4k1p1/2KpP2p/5PP1/8/8/8 w - - 0 53,"['g4h5', 'g6h5', 'f4f5', 'e6e5', 'f5f6', 'e5f6']",1495,crushing endgame long pawnEndgame
3,000Zo,4r3/1k6/pp3r2/1b2P2p/3R1p2/P1R2P2/1P4PP/6K1 w ...,"['e5f6', 'e8e1', 'g1f2', 'e1f1']",1652,endgame mate mateIn2 short
4,000aY,r4rk1/pp3ppp/2n1b3/q1pp2B1/8/P1Q2NP1/1PP1PP1P/...,"['g5e7', 'a5c3', 'b2c3', 'c6e7']",1436,advantage master middlegame short

In [25]:
df.head()

,id,fen,moves,rating,themes
0,0000D,5rk1/1p3ppp/pq3b2/8/8/1P1Q1N2/P4PPP/3R2K1 w - ...,"[d3d6, f8d8, d6d8, f6d8]",1513,advantage endgame short
1,0009B,r2qr1k1/b1p2ppp/pp4n1/P1P1p3/4P1n1/B2P2Pb/3NBP...,"[b6c5, e2g4, h3g4, d1g4]",1130,advantage middlegame short
2,000Vc,8/8/4k1p1/2KpP2p/5PP1/8/8/8 w - - 0 53,"[g4h5, g6h5, f4f5, e6e5, f5f6, e5f6]",1495,crushing endgame long pawnEndgame
3,000Zo,4r3/1k6/pp3r2/1b2P2p/3R1p2/P1R2P2/1P4PP/6K1 w ...,"[e5f6, e8e1, g1f2, e1f1]",1652,endgame mate mateIn2 short
4,000aY,r4rk1/pp3ppp/2n1b3/q1pp2B1/8/P1Q2NP1/1PP1PP1P/...,"[g5e7, a5c3, b2c3, c6e7]",1436,advantage master middlegame short